[run]
branch = False
[paths]
source = ajson
[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    tests/*
    *__init__*
    setup.py
    docs/*