[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
codecov = "*"
sphinx = "*"
sphinx-autobuild = "*"

[packages]
"beautifulsoup4" = "*"
"typeguard" = ">=2.2.0, <2.3.0"

[requires]
python_version = "3.6"
